{% extends 'base.html' %}
{% block content %}
<h1>Add new password entry</h1>
<form method="post">
    <label>Site / Application:</label><br>
    <input type="text" name="site" required><br><br>
    <label>Username / Email:</label><br>
    <input type="text" name="username" required><br><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>
    <label>Notes:</label><br>
    <textarea name="notes" rows="3"></textarea><br><br>
    <input type="submit" value="Save Password" class="btn">
</form>
{% endblock %}